h1 {
  text-align: center;
  font-style: oblique;
}
h2 {
  font-family: fantasy;
  font-weight: 400;
}
ul {
  line-height: 2.5;
  font-size: 32px;
}
body {
  text-align: center;
}
li {
  text-align: center;
}
